body{
    padding-top: 75px;
}

.btn-pink, .bg-pink{
    background-color: #be4a8e;
    color: #fff;
}

.btn-pink:hover{
    background-color: #e23299;
    color: #fff;
}

.btn-outline-pink {
    color: #be4a8e;
    background-color: transparent;
    background-image: none;
    border-color: #be4a8e;
}

.btn-outline-pink:hover, .btn-pink {
    color: #fff;
    background-color: #be4a8e;
}

.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05),
                0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.bg-pink-light{
    background-color: #b685a2;
}

.text-pink{
    color: #be4a8e;
}

.text-pink:hover{
    color: #d18fb8;
}

.icone{
    height: 100px;
}

#home-quote{
    background: url('../img/bg-quote.jpg') center center;
    background-size: cover;
}

.medias{
    max-width: 140px;
}

@media (max-width: 767px){
    #home-quote .display-4{
        font-size: 2.5rem;
    }
    body{
        padding: 0;
    }
    .fixed-top{
        position: relative;
    }
}
